comparision operators

In [ ]:
x=4
y=20
print(f"{x}=={y}:{x==y}")
print(f"{x}!={y}:{x!=y}")
print(f"{x}<{y}:{x<y}")
print(f"{x}>{y}:{x>y}")
print(f"{x}<={y}:{x<=y}")
print(f"{x}>={y}:{x>=y}")

4==20:False
4!=20:True
4<20:True
4>20:False
4<=20:True
4>=20:False

string comparision

In [ ]:
name="hi"
name1="hello"
print(f"'{name}'<'{name1}':{name<name1}")

'hi'<'hello':False

logical operators

In [ ]:
p=True
q=False
print(f"p and q:{p and q}")
print(f"p or q:{p and q}")
print(f"not p:{ not p}")

p and q:False
p or q:False
not p:False

practical example

In [ ]:
age=20
has_license=True
can_drive=age >=18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
scores=85
is_present=True
can_pass=scores >=80 and is_present
print(f"can_pass:{can_pass}")

can_pass:True

personal information

In [ ]:
age=25
annual_income=5000
credit_score=720
has_collateral=True

loan criteria

In [ ]:
min_age=18
min_income=30000
min_credit_score=650

check qualification

In [ ]:
age_qualified = age >= min_age
income_qualified = annual_income >= min
credit_qualified = credit_score >=

data structure

list

creating list

In [ ]:
fruits=["apple","banana","orange","grapes"]
numbers=[10,20,30,40,50]
mixed_data=[1,"hello",3.14,True]

list indexing

In [ ]:
print(f"first fruit:{fruits[0]}")
print(f"last fruit:{fruits[-1]}")
print(f"second to last:{fruits[-2]}")

first fruit:apple
last fruit:grapes
second to last:orange

list slicing

In [ ]:
print(f"first 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2:]}")
print(f"all except first:{fruits[1:]}")

first 2 fruits:['apple', 'banana']
last 2 fruits:['orange', 'grapes']
all except first:['banana', 'orange', 'grapes']

list methods

In [ ]:
fruits.append("kiwi")
fruits.insert(1,"strawberry")
removed=fruits.pop()
print(f"updated list:{fruits}")
print(f"removed{removed}")

updated list:['apple', 'strawberry', 'banana', 'orange', 'grapes']
removedkiwi

list operations

In [ ]:
print(f"length:{len(fruits)}")
print(f"contains 'apple':{'apple'in fruits}")
print(f"index of 'banana':{fruits.index('banana')}")

length:5
contains 'apple':True
index of 'banana':2

tuples

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("alice",25,"engineer",True)

tuples unpacking

In [ ]:
x,y=coordinates
print(f"X:{x},Y:{y}")

X:10,Y:20

tuple methods

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"index of 'engineer':{person_info.index('engineer')}")

count of 25:1
index of 'engineer':2

why use tuples

- immutable
- slightly faster than list
- good for fixed connections

dictionaries

dictionary creation

In [ ]:
person={
    "name":"kim jennie",
    "age":29,
    "profession":"k-pop singer",
    "salary":400000,
    "skills":["rapper","vocalist","visual"]
    }

accessing values

In [ ]:
print(f"name:{person['name']}")
print(f"age:{person.get('age','unknown')}")

name:kim jennie
age:29

dictionary methoda

In [ ]:
print(f"Keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

Keys:['name', 'age', 'profession', 'salary', 'skills']
Values:['kim jennie', 29, 'k-pop singer', 400000, ['rapper', 'vocalist', 'visual']]
Items:[('name', 'kim jennie'), ('age', 29), ('profession', 'k-pop singer'), ('salary', 400000), ('skills', ['rapper', 'vocalist', 'visual'])]

adding/updating

In [ ]:
person["location"]="koria"
person["salary"]=450000

practical use case:inventory management

In [ ]:
inventory={
"laptops":{
    "quantity":50,
    "price":999.99
 },
"phones":{
    "quantity":100,
    "price":599.99
 },
"tablets":{
    "quantity":30,
    "price":399.99
 }
}

nested access

In [ ]:
print(f"laptop price:${inventory['laptops']['price']}")

laptop price:$999.99

sets cotain unique elemnts

In [ ]:
colors={"purple","blue","wheat"}
print(f"colors:{colors}")

colors:{'wheat', 'purple', 'blue'}

set operations

In [ ]:
team1_skills={"python","javascript","sql","react"}
team2_skills={"javascript","sql","java","spring"}

common operations

In [ ]:
print(f"common skills:{team1_skills.intersection(team2_skills)}")
print(f"all skills:{team1_skills.union(team2_skills)}")
print(f"team only:{team1_skills.difference(team2_skills)}")

common skills:{'javascript', 'sql'}
all skills:{'spring', 'sql', 'javascript', 'java', 'python', 'react'}
team only:{'react', 'python'}

adding to sets

In [ ]:
colors.add("purple")
colors.update(["wheat","blue"])
print(f"updated colors:{colors}")

updated colors:{'wheat', 'purple', 'blue'}

condition flow

condition flow statements

basic if_else

In [ ]:
def get_grade_letter(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
      return "F"

test the function

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade= get_grade_letter(score)
  print(f"score{score}:Grade{grade}")

score95:GradeA
score83:GradeB
score72:GradeC
score65:GradeD
score58:GradeF

nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight <=1:
    weight_cost=2.0
  elif weight <=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance <=100:
    distance_cost=1.0
  elif distance <=500:
    distance_cost=3.0
  else:
    distance_cost =7.0
  return base_cost+weight_cost+distance_cost

test shipping costs

In [ ]:
print(f"Light,close:${get_shipping_cost(0.5,50)}")
print(f"heavy,far:${get_shipping_cost(10,800)}")

Light,close:$8.0
heavy,far:$22.0

basic for loop

In [ ]:
fruits={"apple","banana","orange","grape"}
for fruit in fruits:
  print(f"i like {fruit}")

i like apple
i like banana
i like orange
i like grape

loop with enumerate(get index)

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.grape

loop with range

In [ ]:
for day in range(1,8):
  print(f"Day{day}of the week")

Day1of the week
Day2of the week
Day3of the week
Day4of the week
Day5of the week
Day6of the week
Day7of the week

nested loops creating multiplication table

In [ ]:
print(f"multiplication table")
for i in range(1,6):
  for j in range(1,6):
    product=i*j
    print(f"{i}X{j}={product:2d}",end=" ")
    print()

multiplication table
1X1= 1
1X2= 2
1X3= 3
1X4= 4
1X5= 5
2X1= 2
2X2= 4
2X3= 6
2X4= 8
2X5=10
3X1= 3
3X2= 6
3X3= 9
3X4=12
3X5=15
4X1= 4
4X2= 8
4X3=12
4X4=16
4X5=20
5X1= 5
5X2=10
5X3=15
5X4=20
5X5=25

processing data with loops

In [ ]:
sales_data=[
    {"product":"Laptop","price":999,"quantity":5},
    {"product":"Phone","price":599,"quantity":10},
    {"product":"Tablet","price":399,"quantity":8},
]
total_revenue=0

for item in sales_data:
  item_revenue=item["price"]*item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}:${item_revenue}")
  print(f"Total Revenue:${total_revenue}")

Laptop:$4995
Total Revenue:$4995
Phone:$5990
Total Revenue:$10985
Tablet:$3192
Total Revenue:$14177

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("guess the number between 1 and 10")

  while guess !=target:

    import random
    guess=random.randint(1,10)
    attempts +=1

    if guess < target:
      print(f"Guess{attempts}:{guess} - Too low!")
    elif guess > target:
      print(f"Guess{attempts}:{guess} - Too heigh!")
    else:
      print(f"Guess{attempts}:{guess} - correct!")

      if attempts >10:
        print("max attempts reached!")
        break

    print(f"game finished in {attempts} attempts")
simple_guessing_game()

guess the number between 1 and 10
Guess1:10 - Too heigh!
game finished in 1 attempts
Guess2:1 - Too low!
game finished in 2 attempts
Guess3:7 - correct!
game finished in 3 attempts

while loop for erroring

In [ ]:
def process_queue():
  queue=["Task 1","Task 2","Task 3","Task 4"]

  while queue:
    current_task=queue.pop(0)
    print(f"Processing:{current_task}")

    print(f"Remaining tasks:{len(queue)}")

  print("all tasks completed!")

process_queue()

Processing:Task 1
Remaining tasks:3
Processing:Task 2
Remaining tasks:2
Processing:Task 3
Remaining tasks:1
Processing:Task 4
Remaining tasks:0
all tasks completed!

function basics

basic function defenition

In [ ]:
def greet(name):
  return f"hello,{name}!"

function call

In [ ]:
message=greet("python programmer")
print(message)

hello,python programmer!

function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area=length*width
  return area

test the fun

In [ ]:
room_area=calculate_area(12,10)
print(f"room area:{room_area}square feet")

room area:120square feet

fun with default parameters

In [ ]:
def create_user_profile(name,age=18,location="unknown",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

different ways to call

In [ ]:
profile1=create_user_profile("belpuri")
profile2=create_user_profile("masalpuri")
profile3=create_user_profile("panipuri",location="savnur",age=30)

print(f"profile 1:{profile1}")
print(f"profile 2:{profile2}")
print(f"profile 3:{profile3}")

profile 1:{'name': 'belpuri', 'age': 18, 'location': 'unknown', 'active': True}
profile 2:{'name': 'masalpuri', 'age': 18, 'location': 'unknown', 'active': True}
profile 3:{'name': 'panipuri', 'age': 30, 'location': 'savnur', 'active': True}

fun returning multiple values

In [ ]:
def analyze_text(text):
  words=text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_spaces=len(text.replace(" ",""))

  return word_count,char_count,char_count_no_spaces

test with sample test

In [ ]:
sample_text="Python is a powerful programming language"
words,chars,chars_no_space=analyze_text(sample_text)

print(f"text:'{sample_text}'")
print(f"word count:{words}")
print(f"characters (no spaces):{chars_no_space}")

text:'Python is a powerful programming language'
word count:6
characters (no spaces):36

variable length args

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers)/len(numbers)

test with different numbers of agrs

In [ ]:
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)

In [ ]:
print(f"average of 10,20,30:{avg1}")
print(f"average of 5,15,25,35,45:{avg2}")
print(f"average of 100:{avg3}")

average of 10,20,30:20.0
average of 5,15,25,35,45:25.0
average of 100:100.0

keyword args

In [ ]:
def create_report(**data):
  print("===REPORT===")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}{value}")

  print("===============")

create_report(
    title="Monthly Sales Report",
    date="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

===REPORT===
TitleMonthly Sales Report
Date2024-01-01
Total Sales15000
New Customers25
Returning Customers150
===============

regular fun

In [ ]:
def square(x):
  return x**2

lamda equivalent

In [ ]:
square_lambda=lambda x: x**2
print(f"Regular function:{square(5)}")
print(f"Regular function:{square_lambda(5)}")

Regular function:25
Regular function:25

lambda with args

In [ ]:
multiply=lambda x,y:x*y
print(f"Multiply:{multiply(3,4)}")

Multiply:12

lambda with build in fun

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"Squared numbers:{squared}")

Squared numbers:[1, 4, 9, 16, 25]

filtering with lambda

In [ ]:
ages=[16,21,35,45,18,67]
adults=list(filter(lambda age:age >=18,ages))
print(f"Adult ages:{adults}")

Adult ages:[21, 35, 45, 18, 67]

sorting wittth lambda

In [ ]:
people=[
    {"name":'Alice',"age":30},
    {"name":"Bob","age":25},
    {"name":"charlie","age":35},
]
sorted_people=sorted(
    people,
    key=lambda person:person["age"])
print("people sorted by age:")

for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

people sorted by age:
Bob:25
Alice:30
charlie:35